parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Services/InfrastructureService.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Services/InfrastructureService.php

		-
			message: '#^Trait Cbox\\LaravelQueueMonitor\\Traits\\MonitorsJobs is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/MonitorsJobs.php
